{%extends "base.html"%}
{%load static%}
{%block title%}일기 작성{%endblock%}
{%block link%}{%static 'css/base.css'%}{%endblock%}
{%block content%}
<div class = "post_container">
    <h2>오늘의 일기를 작성해요!</h2>
    <div class = "post_form">
        <form action="{%url 'post'%}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <p><input type="text" name="title" size=48 placeholder="제목"></p>
            <p><input type="text" name="weather" size=48 placeholder="날씨"></p>
            <p><input type="file" name="photo"></p>
            <p><textarea name="body" cols="50" rows="30" placeholder="내용"></textarea></p>
            <button type="post_submit">제출</button>
        </form>
    </div>
</div>
{%endblock%}